@font-face {
    font-family: 'basker';
    src: url('../fonts/Baskerville-Bold.otf') format('otf'),
}

.challenge-nadar {
    background-color: #dabc7e;
    text-align: center;
    height: 100%;
    top: 0;
    width: 100%;
    color: black;
    padding-bottom : 25px;
}

.challenge-nadar p {
    color: black;
    max-width: 274px;
    margin : 0 auto 20px auto
}
.photo-span {
    font-weight: bold;
}

.title {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 1.3;
}

.button-photo {
    background-color: white;
    padding: 10px;
    max-width: 275px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 12px 12px 10px 0 rgba(0, 0, 0, 0.16)
}

.extension-photo {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url('../images/maeva.png')
}

.selfie-challenge {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -50px;
}
.imgMini {
    margin-top:3px;
    padding-left:2px;
}

.selfie-capture {
    position : relative;
    text-align:center;
    width: 55px;
    height: 75px;
    background-color: white;
    z-index: 1;

}
.selfie-capture:first-child:after{
    content: '';
    background: #fff;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    position: absolute;
    bottom: -4px;
    left: calc(50% - 4px);
}
.desc-selfie {
    padding-top: 42px;
    padding-left: 29px;
    color: white;
    font-weight : 700;
    font-family: 'basker';
}
.desc-selfie h4{
    font-size : 30px;
}
.desc-selfie p{
    font-size : 14x;
    color: #fff;
    text-align: left;
}
