.dates {
    display: flex;
    align-items: center;
}

.left-part, .right-part {
    width: 50%;
    padding: 0 15px;
}

.left-part {
    text-align: right;
    border-right: 1px solid #fff;
}
.right-part{
    text-align: left;
}
p {
    color: #fff;
}

.date-day {
    font-size: 40px;
    line-height : 1;
    font-weight: 900;
    color : #fff;    
}

.date-month {
    font-size: 26px;
    font-weight: 700;
    color : #fff;    

}

.date-year {
    font-size: 18px;
    font-weight: 700;
    color : #fff;    

}