.dates{
    display:flex;
    align-items: center;
    height : 100%;
}
.left-part,
.right-part{
    width : 50%;
    padding : 0 15px;
}

.left-part{
    text-align: right;
    border-right : 1px solid #fff;
}
p{
    color : #fff;
    font-weight : 700;
}
.date-day{
    font-size : 40px;
}
.date-month{
    font-size: 26px;
}
.date-year{
    font-size: 18px;
}