.slider{
    position : relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}
.slider .content-slide{
    position: absolute;
    height: 330px;
    max-width : 250px;
    text-align : center;    
    align-self : center;
    display: flex;
    flex-direction: column;
}
.dates{
    margin-bottom : 20px;

}
.slider .dates, 
.slider h3, 
.slider h2{
    color: #fff;
    z-index : 10;
    font-weight : 700;
}
.slider h2{
    font-size : 34px;
    margin-bottom : 20px;
}
.slider h3{
    font-size : 20px;
    font-weight : 400;
}
.slider img{  
    height: 100%;
    object-fit: cover;
    object-position: 40%;
    overflow: hidden;
    z-index: -10;
}

.slider div[class*="MuiMobileStepper-dot-"]{
    width : 10px;
    height : 10px;
    z-index:5;
}
.slider div[class*="MuiMobileStepper-dotActive"]{
    background-color: #fff;
}
.image-slider{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}